In [5]:
import sqlite3 as sq     #import the sqlite3 module
db=sq.connect('employee')  #create the connection in btw sqlite3 to python
print(db)
cus=db.cursor()   #create the sqlite3 cursor inside the python
print(cus)
cus.execute("create table employee(id int ,name varchar(20))")   #to execute the qurey
cus.executemany("create table employee(id int ,name varchar(20))")  #to execute the multiple query's
cus.fetchall() #it convert sql data to python data and it will fetch all the records
cus.fetchone()  # it convert sql data to python data and it will fetch only one the records
cus.fetchmany() #it convert sql data to python data and it will fetch  the records based on size
db.commit  # to save all the transcations
db.close # close the connection

<sqlite3.Connection object at 0x0000020D430F0F40>
<sqlite3.Cursor object at 0x0000020D4309B9C0>

In [17]:
#configuration

db=sq.connect('student.sqlite3')
cur=db.cursor()

In [18]:
query='''create table student(
sid int primary key,
name varchar(50),
age int,
email varchar(50) unique,
phone bigint number,
address varchar(100),
marks int)'''
cur.execute(query)
print(cur.rowcount,"roe affected")

OperationalError: table student already exists

In [16]:
query='''insert into student(sid,name,age,email,phone,address,marks)
values(2,'gopi',26,'gopi@gmail.com',9977554422,'hyd',98)'''
cur.execute(query)
print(cur.rowcount,"row created")
db.commit()

1 row created

In [19]:
query='''select * from student'''
cur.execute(query)
res=cur.fetchall()
for i in res:
    print(i)

(2, 'gopi', 26, 'gopi@gmail.com', 9977554422, 'hyd', 98)

In [20]:
query='''update student set email='kumar@gmail.com' where sid=2'''
cur.execute(query)
print(cur.rowcount,"row updated")

1 row updated

In [22]:
query='''select * from student'''
cur.execute(query)
res=cur.fetchall()
for i in res:
    print(i)

(2, 'gopi', 26, 'kumar@gmail.com', 9977554422, 'hyd', 98)

In [23]:
query='''delete  from student  where sid=2'''
cur.execute(query)
print(cur.rowcount,"row delete")

1 row delete

In [24]:
cur.fetchmany()

[]

In [25]:
def insert_record(sid,name,age,email,phone,address,marks):
    query='''insert into student(sid,name,age,email,phone,address,marks)
values(?,?,?,?,?,?,?)'''
cur.execute(query)
print(cur.rowcount,"row created")
db.commit()
insert_record(2,'gopi',26,'gopi@gmail.com',9977554422,'hyd',98)

0 row created

In [ ]:
def fetch_record():
    query='''select * from student'''
    cur

In [ ]:
def update_record(sid,phone):
    query=''' update student set phone=? where sid=?'''
    val=[sid]